# Build-Ergebnisse und Caches von Unreal
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.code-workspace

# Kompilate
*.pdb
*.dll
*.exe
*.lib
*.obj
*.patch_*
